@page
@model ComicWebsite.Pages.ListImages.IndexModel
@inject IHttpContextAccessor HttpContextAccessor

@{
    WebAppComics.Models.ComicReadWebsiteContext _context = new Models.ComicReadWebsiteContext();
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
    var comic = from listcomic in _context.Comics  orderby listcomic.DateSummitted descending select listcomic;
   
    //var accountname = HttpContextAccessor.HttpContext.Session.GetString("AccountName").ToString();
    //var accountca = HttpContextAccessor.HttpContext.Session.GetString("Accountcauser").ToString();
    
}
<@*p> @accountca</p>
<p> @accountname</p>*@

@*<form>
    <input list="data" id="ComicName" placeholder="Input your keyword" asp-for="SearchString" />
    <input type="submit" value="Filter" />
</form>
<datalist id="data">
    @foreach(var item in Model.Comic)
    {
        <option>
            @item.ComicName
        </option>
        
    }
</datalist>*@


<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
   

    <!-- Header Section Begin -->
   
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <a  asp-area="" asp-page="/Index"> 
                <div class="hero__items set-bg" data-setbg="https://res.cloudinary.com/ddt8drwas/image/upload/v1670667505/BannerComic/gietquaithangcap_dvp4or.jpg
">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2>Giết Quái Để Thăng Cấp</h2>
                                <a href="https://localhost:44334/User/Details?id=9a5c9def-6ec2-4b27-9943-39f6b1552201"><span>Xem ngay</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
                <div class="hero__items set-bg" data-setbg="https://res.cloudinary.com/ddt8drwas/image/upload/v1670666978/BannerComic/bg3_r1zkfn.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2>Hoàng Nữ Tóc Đen</h2>
                                <a href="https://localhost:44334/User/Details?id=d7b82a27-c9d3-4f88-adc2-729d8c3a7d1f"><span>Xem ngay</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="https://res.cloudinary.com/ddt8drwas/image/upload/v1670666978/BannerComic/toanchucphapsu_zosz2d.jpg
">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2>Toàn Chức Pháp Sư</h2>
                                <a href="https://localhost:44334/User/Details?id=7c115c17-0e17-492c-b9bb-6bc40accf6a0"><span>Xem ngay</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
<section class="product spad">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="section-title">
                    <h4>Truyện mới cập nhật</h4>
                </div>
            </div>
          
        </div>
      
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="trending__product">
                        
                        <div class="row">
                            @foreach (var item in comic)
                              { 
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                
                                <div class="product__item" >
                                        <a asp-page="./Details" asp-route-id="@item.ComicId">
                                            <div class="product__item__pic set-bg" data-setbg="@item.ComicBanner">
                                        
                                                    <div class="comment"><i class="fa fa-clock-o"></i> @item.DateSummitted.Value.Date.ToString("dd-MM-yyyy")</div>
                                             <div class="view"> @item.ComicStatus</div>
                                            </div>
                                        </a>
                                    <div class="product__item__text">
                                            <h5><a asp-page="./Details" asp-route-id="@item.ComicId">@item.ComicName</a></h5>
                                    </div>
                                </div>
                                
                            </div>
                            }
                                </div>
                        </div>
                            
                        </div>
                    </div>
                </div>             
</section>
<!-- Product Section End -->

<!-- Footer Section Begin -->
    @*<footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="./index.html">Homepage</a></li>
                            <li><a href="./categories.html">Categories</a></li>
                            <li><a href="./blog.html">Our Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>

                </div>
            </div>
        </div>
    </footer>*@
  <!-- Footer Section End -->

  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form" >
           @* <input type="text" id="search-input" placeholder="Search here.....">*@
              @* <input list="data" id="ComicName" placeholder="Input your keyword" asp-for="SearchString" />*@
                @**@  <input type="submit" value="Filter"  asp-for="searchstring" /> 
        </form>
            @*<datalist id="data">
                @foreach (var item in Model.Comic)
                {
                    <option>
                        @item.ComicName
                    </option>

                }
            </datalist>*@
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/player.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
@await Component.InvokeAsync("NToastNotify");  

</body>